<% provide(:title, "ユーザー設定") %>
<% provide(:button_text, "更新") %>
<h1>ユーザー設定</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label :ユーザー名 %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: "form-control" %>
      
      <%= f.label :パスワード確認 %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      
      <%= f.label :ひとこと %>
      <%= f.text_area :profile, class: "form-control" %>
      
      <%= f.label :image, "ユーザー画像" %>
      <%= f.file_field :image %>
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>