<% provide(:title, "作家一覧") %>
<h1>作家一覧</h1>
<div class="row">
  <div class="col-md-4">
    <%= render "shared/search", cont: :name_cont %>
    <% if @count >= 1 %>
      ヒット数（<%= @count %>）
      <% @users.each do |user| %>
        <ol class="stories">
          <% if user.image? %>
            <%= image_tag user.image.url, size: 50, style: "border-radius: 50%" %>
          <% else %>
            <%= image_tag "noimage.jpg", size: 50, style: "border-radius: 50%" %>
          <% end %>
          <%= link_to user.name, user_path(user) %>
        </ol>
      <% end %>
    <% else %>
      検索結果：なし
    <% end %>
  </div>
</div>