<% provide(:title, "ユーザーホーム") %>
<div class ="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "user_image img-responsive img-thumbnail" %>
      <% else %>
        <%= image_tag "noimage.jpg", :size => "130x100" %>
      <% end %>
      <h1 class ="user_name"><%= @user.name %></h1>
      <div  class="email"><%= @user.email %></div>
      <% if @user.profile? %>
        <div class="oneword-title">ひとこと</div>
        <div class="oneword"><%= @user.profile %></div>
      <% end %>
    </section>
    <% if current_user?(@user) %>
      <%= link_to "編集", edit_user_path(@user), class: "btn btn-md btn-primary" %>
      <%= link_to "削除", @user, method: :delete,
                                  class: "btn btn-md btn-danger",
                                   data: { confirm: "本当によろしいですか？" } %>
    <% end %>
    <h2 class="likes">いいねした作品一覧(<%= @user.likes.count %>)</h2>
    <% @likes.each do |like| %>
      <% story = Story.where(status: true).find_by(id: like.story_id) %>
      <ul class="stories">
        <li>作家：<span class="writer"><%= link_to story.user.name, user_path(story.user) %></span></li>
        <li>作品：<%= link_to story.title, story_path(story) %></li>
      </ul>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.stories.any? %>
      <h3>小噺集(<%= @user.stories.count %>)</h3>
      <ol class="stories">
        <%= render @stories %>
      </ol>
      <%= will_paginate @stories %>
    <% end %>
  </div>
</div>
