<div class ="row">
    <aside class="col-md-5">
        <h1><%= @story.title %></h1>
            <%= @story.start_text%><br>
            <%= @story.consent_text%><br>
            <%= @story.terning_text%><br>
            <%= @story.finish_text%><br>
            <%= render "likes/like", story: @story%>
<% if @story.user_id == current_user.id %>
<%= link_to "編集" , edit_story_path(@story),class: "btn btn-md btn-primary" %>
<%= link_to "削除" , @story , method: :delete, 
                               class: "btn btn-md btn-danger",
                               data: { confirm: "本当によろしいですか？"} %>
<% end %>                               
    </aside>
</div>